*~
*.pyc
*debhelper*
build
*stamp*
reportbug.egg-info
debian/files
debian/python3-reportbug.substvars
debian/python3-reportbug/
debian/reportbug.substvars
debian/reportbug/
man/querybts.fr.1
man/reportbug.fr.1
.todo
